/*fuentes*/
/* colores */
html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: black; }

main {
  margin-top: 6.5rem; }

/* titulos */
h1 {
  font-size: 3.5rem;
  font-family: "Cinzel", serif;
  color: #b9935a; }

h2 {
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  font-family: "Cinzel", serif;
  font-size: 3rem; }

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase; }

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  line-height: 3rem; }

/* header - navbar */
header .navbar {
  z-index: 1;
  width: 100vw;
  background-color: #111111;
  overflow: hidden;
  position: fixed;
  top: 0; }
  header .navbar .nav-img {
    padding: 0 1rem 0 0; }
    header .navbar .nav-img img {
      width: 15rem; }
  header .navbar a {
    padding: 1rem 0;
    color: #f2f2f2;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase; }

/*fuentes*/
/* colores */
@media (min-width: 360px) {
  /* index */
  /* seccion portada */
  #portada {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("/img/portada.jpg");
    background-position: 50vw;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 90vh; }
    #portada .texto-portada {
      padding-left: 1rem;
      top: 40%;
      left: 5%;
      text-align: left;
      position: absolute; }
      #portada .texto-portada h1 {
        color: #b9935a;
        text-transform: uppercase; }
      #portada .texto-portada p {
        text-transform: uppercase;
        color: #ebe9e9; }
      #portada .texto-portada .redes {
        margin-top: 3rem;
        font-size: 3rem; }
        #portada .texto-portada .redes i {
          color: #b9935a;
          margin: 0 1rem; }
  /* seccion lanzamientos */
  #release {
    width: 100%;
    height: 82vh;
    background-image: url(../img/white_bg.jpg); }
    #release .video {
      display: flex;
      flex-flow: row wrap;
      align-items: center; }
      #release .video iframe {
        width: 100%;
        height: 18rem; }
      #release .video .h3 {
        padding-top: 2rem; }
      #release .video .p {
        margin: 2rem 0 2rem; }
  /* seccion shows */
  #shows h2 {
    color: #b9935a; }
  #shows .eventos {
    padding: 2rem 0; }
    #shows .eventos .fecha p {
      color: #b9935a;
      font-size: 2rem; }
    #shows .eventos .info {
      color: #ebe9e9;
      font-size: 1.5rem; }
      #shows .eventos .info .info-titulo {
        color: #b9935a;
        text-transform: uppercase;
        font-size: 2rem; }
    #shows .eventos .btn {
      color: #b9935a;
      background-color: #181818;
      font-size: 1.5rem;
      padding: 0.5rem 3rem; }
    #shows .eventos .btn:hover {
      background-color: #4e4e4e;
      color: #181818; } }

@media (min-width: 768px) {
  /* seccion portada */
  #portada .texto-portada {
    left: 10%; }
  /* seccion lanzamientos */
  #release .video iframe {
    height: 26rem; } }

@media (min-width: 1024px) {
  /* seccion portada */
  #portada .texto-portada {
    left: 15%; }
  /* seccion lanzamientos */
  #release {
    height: 70vh; }
    #release .video iframe {
      height: 30rem; } }

/*fuentes*/
/* colores */
/* pagina nosotros */
#bio h1 {
  color: #b9935a;
  text-transform: uppercase; }

#bio p {
  text-transform: uppercase;
  color: #ebe9e9; }

/* seccion de cards de integrantes */
#nosotros .band {
  margin: 3rem 0;
  align-items: center; }
  #nosotros .band .boxImg {
    max-width: 55rem; }
    #nosotros .band .boxImg img {
      max-width: 100%; }
  #nosotros .band h3 {
    margin-top: 1rem;
    color: #b9935a; }
  #nosotros .band p {
    color: #ebe9e9; }
  #nosotros .band .links {
    font-size: 2.5rem; }
    #nosotros .band .links i {
      padding-right: 2rem;
      color: #b9935a; }

#nosotros .band-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  margin: 2rem 0;
  align-items: center; }
  #nosotros .band-reverse .boxImg {
    max-width: 55rem; }
    #nosotros .band-reverse .boxImg img {
      max-width: 100%; }
  #nosotros .band-reverse h3 {
    margin-top: 1rem;
    color: #b9935a; }
  #nosotros .band-reverse p {
    color: #ebe9e9; }
  #nosotros .band-reverse .links {
    font-size: 2.5rem; }
    #nosotros .band-reverse .links i {
      color: #b9935a; }

/* estilos pagina musica */
#titulos h2 {
  color: #ebe9e9; }

/* seccion ep */
#ep {
  margin-bottom: 3rem; }
  #ep h3 {
    margin-bottom: 2rem;
    color: #b9935a; }
  #ep p {
    color: #ebe9e9; }

/* seccion proximo lanzamiento*/
#proximo {
  margin: 2rem auto 3rem; }
  #proximo h3 {
    margin-bottom: 2rem;
    color: #b9935a; }
  #proximo p {
    color: #ebe9e9; }
  #proximo .img-box {
    max-width: 40rem; }
    #proximo .img-box img {
      max-width: 100%; }

/*fuentes*/
/* colores */
/* pagina productos */
#productos .card {
  margin-bottom: 2rem; }

#productos .modal .modal-header {
  color: #b9935a;
  background-color: #181818; }

#productos .modal .modal-body {
  padding: 0;
  background-color: black; }
  #productos .modal .modal-body h4 {
    padding-top: 0.5rem;
    color: #b9935a; }
  #productos .modal .modal-body p {
    color: #ebe9e9; }

#productos .modal .modal-footer {
  background-color: #181818; }
  #productos .modal .modal-footer .btn {
    color: #ebe9e9;
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem; }
  #productos .modal .modal-footer .btn:hover {
    background-color: #4e4e4e;
    color: #181818; }

/*fuentes*/
/* colores */
/* footer */
.contacto {
  background-color: #181818;
  /* formulario */
  /* redes sociales */ }
  .contacto h2 {
    color: #b9935a; }
  .contacto .formInput, .contacto Input {
    font-size: 1.5rem; }
  .contacto Input .btn {
    color: #b9935a;
    background-color: black;
    font-size: 1.5rem;
    padding: 0.5rem 3rem; }
  .contacto Input .btn:hover {
    background-color: #ebe9e9;
    color: #181818; }
  .contacto .redes {
    margin-top: 2rem;
    font-size: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
    .contacto .redes a {
      color: #b9935a; }
      .contacto .redes a i {
        margin: 0 1rem; }

/* pagina de contacto */
#contacto-page {
  height: 100vh; }
